
<table>
	<tr><td><img src="https://s3-eu-west-1.amazonaws.com/blakecards/blake-brighton-postcard.png"></td></tr>
	<tr><td style="font-family: 'Courier New'; font-size: 1.2em; padding: 40px; border: 1px solid #ccc;"><%= raw ::BlueCloth.new(@message).to_html %><p>Why not <a href="http://www.light-art.co.uk/pages/blake-postcards">send your own Blake postcard<a/>?</p></td></tr>
	<tr><td style="background-color: #edca54; padding: 5px 10px 5px 10px; font-weight: bold; font-family: arial">Blake was created by <a href="http://www.21stcenturytiger.org">21st Century Tiger</a> and <a href="http://www.light-art.co.uk">Light Art</a> to raise much needed funds for wild tigers. <a href="http://www.light-art.co.uk/pages/tiger-appeal">Find out more...</a></td></tr>
</table>