<form id='postcard-data'>
<p><input style='width: 100%;' placeholder='your email address' type='text' name='from'/></p>
<p><input style='width: 100%;' placeholder='email this postcard to' type='text' name='to' /></p>
<p><textarea style='width: 100%; height: 100px;' placeholder='your message' name='message'></textarea></p>
</form>
<button id='send-message-button'>send postcard</button>
<script>alert($)</script>
<script src="http://www.doglight.co.uk/javascripts/form.js"></script>